/**
* Created by PHP Storm
* Author: Don Cameron
* Date: 9/23/2021
* Time: 9:47 PM
*/

body {
    margin: 0;
}

h1 {
    margin-top: 0;
}

.top_container {
    background-color: #F0E5CF;
    /*height: 200px;*/
    /*width: 200px;*/
}

/*.middle_container {*/
/*    background-color: gray;*/
/*    height: 200px;*/
/*    width: 200px;*/
/*    margin-left: 200px;*/
/*}*/

/*.bottom_container {*/
/*    background-color: aqua;*/
/*    height: 200px;*/
/*    width: 200px;*/
/*    margin-left: 400px;*/
/*}*/